{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <p>
        <strong>Username:</strong> {{ user.username }}
    </p>
    <p>
        <strong>Email:</strong> {{ user.email }}
    </p>
    <p>
        <strong>Bio:</strong> {{ user.profile.bio }}
    </p>
    <p>
        <strong>Location:</strong> {{ user.profile.location }}
    </p>
    <p>
        <strong>Birth Date:</strong> {{ user.profile.birth_date|date:"Y-m-d" }}
    </p>
    <h1>Edit Profile</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
    <!-- <a href="{% url 'profile' %}">Cancel</a> -->
{% endblock %}
